@require "app/styles/charte"

#home-footer
  width: 33%
  margin: 0 auto
  position: relative
  z-index: 12
  display: flex
  flex-direction: column
  align-items: center

.home-hangs
  font-size: 1em
  font-weight: 300
  color: $color-tertiary
  line-height: 1.5em
  margin-bottom: 5em
  text-align: center

.cta
  font-family: 'Fira Sans', sans-serif
  font-weight: 300
  font-size: 1.3em
  color: $color-secondary
  width: 15em
  height: 60px
  border-radius: 30px
  background-color $color-primary
  border: none

.cta:hover
  background-color #ac2d46

#nav-dev
  width: 100%
  display: flex
  justify-content: space-between

.nav-dev-link
  background-color: $color-tertiary
  padding: 1em
  width: 200px
  color: $text
  border-radius: 20px

.link-home:hover
  text-decoration: none
