
$color-primary = #E23758
$color-secondary = #fff
$color-tertiary = #1D3B67
$text = #1D3B67

// font-family: 'Montserrat', sans-serif;
// font-family: 'Fira Sans', sans-serif;

// $color-primary = #EB5D61
// $color-secondary = #19323C
// $color-tertiary = #4ECDC4
// $text = #fff
