@require "app/styles/charte"

.cv-bloc-added
  width: 250px
  height: 100px
  border-right: 1px solid $color-secondary
  border-bottom: 1px solid $color-secondary
  padding: 1em
  color: $color-secondary
  box-sizing: border-box

.cv-bloc-entitled
  font-size: 1em
  margin-bottom: .5em

.cv-bloc-year
  font-family: 'Fira Sans', sans-serif
  font-weight: 200
  font-style: italic
  margin-bottom: .5em

.cv-bloc-abstract
  padding: 1em
  font-family: 'Fira Sans', sans-serif
  font-weight: 300
  display: none
  color: $color-secondary
  text-align: justify

.abstract-toggle
  font-size: 1.2em

.cv-bloc-abstract--show
  display: block
  width: 500px
  background-color #eee

.bloc-wrapper
  min-width: 250px
  max-width: 750px
  display: flex
  flex-direction: row
