@require "app/styles/chart"

#register-form
  height: 50vh
  width: 50vw
  border: 3px solid $primary
  border-radius: 1em
  position: fixed
  top: 50% - 25vh
  left: 50% - 25vw
  padding: 2em
  text-align: left
  background-color: $secondary

  h2
    font-size: 2em
    margin-bottom: 1em
    text-align: center
    color: $primary

  input
    display: block;
    font-size: 1.2em
    width: 100%
    border: none
    border-bottom: 2px solid $primary
    margin: 0.5em 0 1em
    padding:0 0.5em
    background-color: $secondary
    color:$text

  label
    color: $primary

  button
    display: block
    font-size: 1.2em
    text-align: center
    margin: 3em auto
    padding: 0.5em
    background-color: $primary
    color: $text
    border: none
    border-radius: 1em
    
  #user-identity
    text-align: left
    display: flex
    justify-content: space-between
