@require "app/styles/charte"

#cv-user
  position: relative
  left: 50%
  overflow: auto

#cv-builder-form
  width: 33%
  height: 100vh
  position: absolute
  z-index: 1000
  background-color: #E0E2DB
  left: 0
  top: 0
  padding: 3em 5em
  box-shadow: 3px 0 30px 2px #444
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-end


.form
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 100%
  margin-bottom: 2em

.panel-title
  font-size: 2.5em
  align-self: flex-start
  margin-bottom: 1em
  color: $color-primary
  margin-top: -1.5em
  font-weight: 700
  font-family: 'Montserrat', sans-serif

.button-add
  margin: 1em
  display: block
  width: 200px
  height: 3em
  border: 3px solid $color-primary
  background-color: #E0E2DB
  color: $color-primary
  font-size: .8em
  line-height: 0
  border-radius: 50px
  align-self: flex-end

.button-add:hover
    background-color: $color-primary
    color: #E0E2DB

.button-add:after
  content: '+'
  top: .14em
  position: relative
  margin-left: .5em
  font-size: 2em

.text-input
  background-color: #fff
  border: none
  height: 2em
  padding: .5em 1em
  font-weight: 400
  color: $text
  width: 100%

[placeholder]
  font-size: 1em

#panel-toggler
  width: 80px
  height: 80px
  border-radius: 50%
  position: relative
  z-index: 6000
  top: 40%
  left: 18%
  background-color: $color-primary
  color: $color-secondary
  font-size: 3em
  line-height: 80px
  padding-right: 8px
  box-shadow: 5px 0 20px 1px rgba($text, 0.5)

.toggle-panel
  transform: translateX(-97%)
  box-shadow: 0 0 0 0 !important
  transition: 700ms

.toggle-cv
  transform: translateX(-15.8%)
  box-shadow: 0 0 0 0 !important
  transition: 1200ms
  animation-timing-function: ease-out

.toggle-panel:before
  content: ''
  position: absolute
  left: 0
  top: 0
  z-index: 5000
  width: 100%
  height: 100%
  background-color: rgba($color-primary, .99)
  animation-name: fade
  animation-duration: 700ms

@keyframes fade {
  from {
    background-color: rgba($color-primary, .1)
  }
  to {
    background-color: rgba($color-primary, .85)
  }
}

#back-home
  position: absolute
  z-index: 1000
  display: block
  top: 3em
  right: 3em
  border: 3px solid $color-primary
  width: 120px
  height: 40px
  background-color: $color-secondary
  color: $color-primary
  border-radius: 30px
  line-height: 2em
  cursor: pointer

#back-home:hover
  background-color: $color-primary
  color: $color-secondary

.bars-hide
  opacity: 0

.bars-show
  opacity: 1
  transition: 2500ms
