@require "app/styles/charte"

#main-title
  width: 33%
  margin: 0 auto
  margin-top: 10vh
  text-align: right
  padding-right: 5vw
  z-index: 11
  position: relative

.big-title
  font-size: 8vh
  font-weight: 300
  color: $color-primary

strong
  font-weight: 800

.baseline
  font-family: 'Fira Sans', sans-serif
  font-size: 3vh
  font-weight: 200
  font-style: italic
  text-transform: uppercase
  color: $color-tertiary
