@require "app/styles/charte"

#register-form
  box-sizing: content-box
  width: 33vw
  border: 3px solid $color-primary
  position: fixed
  top: 10%
  left: calc(33vw - 3px - 2em)
  padding: 2em
  text-align: left
  background-color: $color-secondary
  border-radius: 10px

.align-right
  text-align: right
  margin-bottom: 1em

.close
  font-size: 2em
  color: $color-primary
  cursor: pointer
  margin-bottom: 1em

.form-title
  font-size: 2em
  margin-bottom: 2em
  text-align: center
  color: $color-primary

#register-mail
  width 100%

#register-password
  width 100%

input
  display: block;
  font-size: 1.2em
  width: 100%
  border: none
  border-bottom: 2px solid $color-primary
  margin: 0.5em 0 1em
  padding:0 0.5em
  background-color: $color-secondary
  color:$text

label
  color: $color-primary

button
  display: block
  font-size: 1.2em
  text-align: center
  margin: 3em auto
  padding: 0.5em
  background-color: $color-primary
  color: $text
  border: none
  border-radius: 1em

#user-identity
  text-align: left
  display: flex
  justify-content: space-between

.MuiBackdrop-root-60
  background-color: rgba(#111, .8) !important
