@require "app/styles/charte"

.cv-bloc
  width: 752px
  display: flex
  background-color: #fff
  flex-direction: column
  margin-bottom: 2em
  color: $color-primary
  border-radius: 5px

.cv-bloc-title
  width: 100%
  display: flex
  border: 1px solid $color-secondary
  padding: 1em

.cv-bloc-icon
  padding-left: 2em
  margin-right: 1em
  font-size: 2em

.cv-section-title
  font-size: 2em

.xp-bloc-container
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  border: 1px solid $color-secondary
