@require "app/styles/charte"

.cv-bloc-profile
  width: 752px
  display: flex
  background: linear-gradient(to top, $color-secondary , #EBEBEB );
  box-shadow:inset 0px 0px 0px 3px $color-secondary
  flex-direction: row
  justify-content: flex-start
  margin-bottom: 2em
  color: $color-primary
  padding: 1.5em

.cv-bloc-profile:hover
  background: linear-gradient(to bottom, $color-secondary , #EBEBEB )
  transition: 2000ms

.cv-picture-bloc
  margin: 0 5em

.profile-pic
  height: 150px
  width: 150px
  border-radius: 50%

.cv-profile-bloc
    display: flex
    flex-direction: row
    align-content: flex-end
    justify-content: flex-end

.profile-info
  color: $color-tertiary
  margin-left: .5em

.info-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  font-family: 'Fira Sans', sans-serif

.data-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
