@require "app/styles/charte"

#buttons
  float: right
  width:21em
  display:flex

#signIn-button
  width: 10em
  margin: 1em
  border-radius:25px
  background: $color-primary
  padding:0 1.5em 0 1.5em

#logIn-button
  width: 10em
  margin: 1em
  border-radius: 25px
  background: $color-secondary
  border: 3px solid $color-tertiary
  padding:0 2em 0 2em
  color: $color-tertiary

#logIn-button:hover
  background-color $color-tertiary
  color: $color-secondary

#avatar
  float:left
  border:1px solid black
  width:2.5em
  height:2.5em

#login-form
  position: absolute
  top: -4em
  left: 62%
  width: 400px

#search
  padding 1em

.MuiFormLabel-root-10
  color: $text !important
  font-family: 'Fira Sans', sans-serif !important
  letter-spacing: .05em !important

.MuiSvgIcon-root-154
  fill: #fff !important

.MuiFormControl-root-4
  outline: none

.MuiInput-focused-17
  border-bottom: 1px solid $color-primary !important

.MuiInput-input-23
  color: $color-primary !important

.form-inline
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.form-group
  margin-right: 1em

#header
  display: flex
  flex-direction: row
  justify-content: space-between

.MuiFormControl-root-4
  margin-left: 18em !important
  color: #fff
