@require "app/styles/charte"

#buttons
  float: right
  width:15em
  display:flex

#signIn-button
  width: 8em
  margin: 1em
  border-radius:25px
  background: $color-primary
  padding:0 1.5em 0 1.5em

#logIn-button
  width: 10em
  margin: 1em
  border-radius: 25px
  background: $color-secondary
  border: 3px solid $color-primary
  padding:0 1.5em 0 1.5em

#avatar
  float:left
  border:1px solid black
  width:2.5em
  height:2.5em

#login-form
  position: absolute
  top: -60px
  left: 70vw


.MuiFormLabel-root-10
  color: $text !important
  font-family: 'Fira Sans', sans-serif !important
  letter-spacing: .05em !important

.MuiSvgIcon-root-154
  fill: #fff !important

.MuiInput-focused-17
  border-bottom: 1px solid $color-primary !important

.MuiInput-input-23
  color: $color-primary !important
