#buttons
  float: right
#signIn-button
  margin: 0.5em
  border-radius:25px
  background:#9692FF
  padding:0 1.5em 0 1.5em
#logIn-button
  border-radius:25px
  background:rgb(251, 194, 33)
  padding:1em
  padding:0 1.5em 0 1.5em
#avatar
  float:left
  border:1px solid black
  width:2.5em
  height:2.5em
