#buttons
  float: right
  width:15em
  display:flex
#signIn-button
  margin: 1em
  border-radius:25px
  background:#9692FF
  padding:0 1.5em 0 1.5em
#logIn-button
  margin: 1em
  border-radius:25px
  background:#fca73f
  padding:0 1.5em 0 1.5em
#avatar
  float:left
  border:1px solid black
  width:2.5em
  height:2.5em
#login-form
  float:right
  
