@require "app/styles/charte"


// .content {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: $color-secondary
//     color: #ffffff;
// }
//
// .loader {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: $color-secondary
//     color: #ffffff;
//     z-index: 1000;
// }

.intro-hide
  display: none
  transition: 1000ms

.hide-shit
  display: none
  transition: 1000ms
