@require "app/styles/charte"

#intro
  width: 100%
  height: 40vh
  display: flex
  align-items: center
  position: relative
  z-index: 10

.box-intro-element
  width: 200px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center

.intro-element
  width: 180px
  height: 180px
  border-radius: 50%
  background-color: $color-primary
  margin-bottom: .5em


  &-create-pic
    position: relative
    top: 26%

  &-share-pic
    position: relative
    top: 29%
    left: -3%

  &-discover-pic
    position: relative
    top: 30%

  &-title
    font-size: 2.5em
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    letter-spacing: .05em
    line-height: 2em
    color: $color-primary

.blue
  background-color: $color-tertiary !important

.title-blue
  color: $color-tertiary !important

.create
  position: absolute
  left: calc(33% - 125px)

.share
  position: absolute
  left: calc(50% - 106px)

.discover
  position: absolute
  left: calc(66% - 77px)

.choice
  flex: 1
  align-self: center


.home-choice
  font-size: 3em
  color: $text
  text-align: center
  padding-bottom: 2em
  padding-right: .5em //Fix pour centrer visuellement

.intro-element:hover
  cursor: pointer

.home-choice:hover
  color: $color-tertiary !important
